<!DOCTYPE html>
<html>
<head>
<meta charse="UTF-8" http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>登録画面</title>
<script type="text/javascript" src="/static/js/abc.js"></script>
</head>
<body>
	<div style="text-align: center">
		<h2>おはようございます!</h2>
		<form name ="loginForm" action="/signin" method="POST">
			<div>
				ユーザーID:<input id="username" name ="username" type="text"><br>
			</div>
			<div>
				パスワード:<input id="password" name = "password" type = "password"><br>
			</div>
			<p>
				<button id="subBotton" type="submit" onclick="check()">送信</button>
			</p>
		</form>
	</div>
</body>
</html>